/* style for whole body */
body{
  font-family: 'Arial', sans-serif;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1; /* Keeps it behind the page content */
  overflow: hidden;
  margin: 0;
}



.container {
  position: relative; /* Necessary for the absolute positioning inside it */
  text-align: center;
  padding: 50px;
  background-color: #c4e9ec9d;
  border-radius: 10px;
  height: inherit;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
}

/* Top Left (Profile) and Top Right (Notifications & Message History) Icons */
.top-left {
  position: absolute;
  top: 20px;
  left: 20px;
}

#profile {
  width: 70px;
}

#notification {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 70px;
}

#message-history {
  position: absolute;
  top: 20px;
  right: 150px;
  width: 70px;
}

/* Centered Icon Container */
.icon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 100px; /* Space for header */
}

.icon {
  background-color: #c4e9ec;
  border-radius: 15px;
  padding: 25px;
  width: 150px;
  box-shadow: 0 4px 15px #2d3480b0;
  text-decoration: none;
  color: #333;
  transition: transform 0.3s, box-shadow 0.3s;
}

.icon img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px #2d3480c1;
  background-color: #2d3480;
  color: #c4e9ec;
}

.icon:hover img {
  transform: scale(1.1);
}

h1 {
  color: #2d3480;
  font-size: 3em;
  margin-top: 80px;
  text-shadow: 3px 3px 6px #ffffff;
}
footer {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #2d3480;
  color: white;
  position: fixed;
  bottom: 0;
  
  width: 100%;
}
