.login-box {
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px 12px rgba(0,0,0,0.1);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.login-box form button:hover {
    background-color: #2d3480;
}

.login-box p {
    text-align: center;
    margin-top: 10px;
}

.login-box p a {
    color: #007bff;
    text-decoration: none;
}

.login-box p a:hover {
    text-decoration: underline;
}
